.image-upload {
    .ant-upload {
        width: 300px;
        height: 200px;
        overflow: hidden;
    }
    .upload-image {
        width: 300px;
        height: 200px;
        object-fit: contain;
    }
    &.cover-image {
        .upload-image {
            object-fit: cover;
        }
    }
    .upload-wrap {
        color: #aaa;
        .anticon {
            font-size: 50px;
            margin-bottom: 5px;
        }
    }
}