.btn-group {
    display: flex;
    justify-content: center;
    button:first-child {
        margin-right: 30px;
    }
    &.to-left {
        justify-content: flex-start;
    }
    &.to-right {
        justify-content: flex-end;
    }
}