
.user-wrap {
    .login-btn {
        background: cyan;
        border: none;
        color: #fff;
        border-radius: 3px;
    }
}

.login-wrap {
    width: 480px;
    height: 668px;
    background: #fff;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 90px;
    box-sizing: border-box;

}

.login-wrap .logo-wrap {
    width: 70px;
    height: 70px;
    display: inline-block;
}

.login-wrap .logo-wrap img {
    width: 100%;

}

.login-wrap .login-header {
    padding: 74px 0 32px;
    text-align: center;
}

.login-wrap .login-header h1 {
    color: #3e3e3e;
    font-size: 20px;
    margin-top: 22px;
}

.login-wrap .login-header p {
    color: #9d9d9d;
    font-size: 14px;
    margin-top: 10px;
}

.login-wrap .layui-tab-title>li {
    width: 50%;
    padding: 0;
    color: #999;
    border-color: #ebebeb;
}

.login-wrap .layui-tab-title .layui-this {
    color: #3598fe;
    border-color: #3598fe;
}

.login-wrap .layui-tab-title .layui-this::after {
    border-color: #3598fe;
}

.login-wrap .layui-tab-content {
    padding: 0;
    margin-top: 40px;
}

.login-wrap .layui-tab-content input {
    border: none;
    margin-bottom: 6px;
    background: #f2f2f2;
    line-height: 44px;
    height: 44px;
}

.login-wrap .layui-tab-content input:focus {
    background: #e0e0e0;
}
.login-wrap .layui-tab-content .login-cancel-btn,
.login-wrap .layui-tab-content .login-submit-btn {
    width: 100%;
    line-height: 44px;
    height: 44px;
    margin-top: 14px;

}

.login-wrap .layui-tab-content .forget-psword {
    margin-top: 32px;
    text-align: center;
}

.login-wrap .layui-tab-content .forget-psword a {
    color: #999;
}

@media screen and (max-width: 767px) {
    .login-wrap {
        width: calc(100% - 30px);
        height: auto;
        min-height: calc(100vh - 30px);
        padding: 0 20px 40px;
        margin: 15px;
        position: initial;
        left: 50%;
        top: 50%;
        transform: none;
    }
    .login-wrap .login-header {
        padding: 60px 0 32px;
        text-align: center;
    }
}

.mobile-code,
.security-code {
    .code-wrap {
        flex: 1;
        text-align: center;
        height: 32px;
        line-height: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .ant-form-item-children {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
        align-items: center;
    }
}

.login-wrap .mobile-code input,
.login-wrap .security-code input {
    width: 178px;
    margin-bottom: 0;
}

.login-wrap .security-code img {
    // width: 32px;
    border-radius: 2px;
}

.login-wrap .mobile-code a {
    display: inline-block;
    width: 114px;
    text-align: center;
    line-height: 26px;
    height: 26px;
    cursor: pointer;
}
.forget-psword-wrap h2 {
    color: #3598fe;
    font-size: 16px;
    text-align: center;
    border-bottom: 2px solid #3598fe;
    margin-top: 24px;
    padding-bottom: 12px;
}
.forget-btns {
    display: flex;
    justify-content: space-between;
}
.forget-psword-wrap .forget-btns button:nth-child(1) {
    width: 174px;
}
.forget-psword-wrap .forget-btns button:nth-child(2) {
    width: 118px;
}
.watch-time {
    color: #777;
}


// 新增样式
.login-wrap {
    .ant-tabs-nav {
        width: 100%;
        .ant-tabs-tab {
            margin-right: 0;
            width: 50%;
            text-align: center;
        }
    }

    .login-nav {
        margin-bottom: 20px;
        .password-title {
            color: #3598fe;
            font-size: 16px;
            text-align: center;
            border-bottom: 2px solid #3598fe;
            line-height: 38px;
        }
    }
    .nav-list {
        display: flex;
        a {
            width: 50%;
            padding: 0;
            text-align: center;
            color: #999;
            border-bottom: 2px solid #ebebeb;
            line-height: 38px;
            &.active-link {
                color: #3598fe;
                border-color: #3598fe;
            }
        }
    }
    .loading {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }
    .login-link {
        text-align: center;
    }
    .watch-time {
        color: #777;
        &:focus,
        &:hover {
            color: #777;
            text-decoration: none;
            cursor: default;
        }
    }
    .reset-btn {
        margin-bottom: 15px;
    }
    .login-form-button {
        width: 100%;
    }
}